# Import the Librarys

In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Read Data

In [110]:
df = pd.read_csv('clean_supermarket.csv')

# Exploring Data

In [111]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,287-83-1405,A,Yangon,Normal,Male,Health and beauty,25.43,6,7.6290,160.2090,02-12-19,19:01,Ewallet,152.58,4.761905,7.6290,7.0
2,827-77-7633,A,Yangon,Normal,Male,Sports and travel,98.09,9,44.1405,926.9505,2/17/2019,19:41,Cash,882.81,4.761905,44.1405,9.3
3,719-89-8991,A,Yangon,Member,Female,Sports and travel,91.41,5,22.8525,479.9025,2/25/2019,16:03,Ewallet,457.05,4.761905,22.8525,7.1
4,534-01-4457,A,Yangon,Normal,Male,Food and beverages,81.71,6,24.5130,514.7730,1/27/2019,14:36,Credit card,490.26,4.761905,24.5130,8.0

In [112]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
985,149-14-0304,C,Naypyitaw,Member,Female,Health and beauty,28.50,8,11.4000,239.4000,02-06-19,14:24,Cash,228.00,4.761905,11.4000,6.6
986,592-46-1692,C,Naypyitaw,Member,Female,Food and beverages,36.77,7,12.8695,270.2595,01-11-19,20:10,Cash,257.39,4.761905,12.8695,7.4
987,746-19-0921,C,Naypyitaw,Normal,Male,Food and beverages,21.58,1,1.0790,22.6590,02-09-19,10:02,Ewallet,21.58,4.761905,1.0790,7.2
988,320-32-8842,C,Naypyitaw,Member,Female,Food and beverages,22.62,1,1.1310,23.7510,3/17/2019,18:58,Cash,22.62,4.761905,1.1310,6.4
989,719-76-3868,C,Naypyitaw,Member,Male,Food and beverages,94.26,4,18.8520,395.8920,03-12-19,16:30,Cash,377.04,4.761905,18.8520,8.6

# 1) what is product lines in all branchs A,B and C ?

In [113]:
df['Product line'].unique()

array(['Health and beauty', 'Sports and travel', 'Food and beverages',
       'Home and lifestyle', 'Electronic accessories',
       'Fashion accessories'], dtype=object)

# 2) what is the best selling product lines in branch A ?

In [114]:
df[df['Branch']=='A'].groupby('Product line')['Quantity'].sum()

Product line
Electronic accessories    322
Fashion accessories       253
Food and beverages        304
Health and beauty         257
Home and lifestyle        371
Sports and travel         333
Name: Quantity, dtype: int64

# 3) How many invoices in branch A ?

In [115]:
df[df['Branch'] == 'A']['Invoice ID'].count()

338

# 4) what is the total sales of branch A ?

In [116]:
df[df['Branch']=='A']['Total'].sum()

104829.9525

# 5) The highest bill during three months for Branch A

In [117]:
branch_A_data = df[df['Branch'] == 'A']
product_sales = branch_A_data.groupby('Product line')['Quantity'].sum()
product_sales = product_sales.sort_values()
least_selling_product = product_sales.index[0]
least_selling_product_data = branch_A_data[branch_A_data['Product line'] == least_selling_product]
least_selling_product_data = least_selling_product_data.sort_values(by='Unit price', ascending=False)
high_price_product = least_selling_product_data.iloc[0]
high_price_product

Invoice ID                         125-45-2293
Branch                                       A
City                                    Yangon
Customer type                           Normal
Gender                                  Female
Product line               Fashion accessories
Unit price                                99.1
Quantity                                     6
Tax 5%                                   29.73
Total                                   624.33
Date                                 1/19/2019
Time                                     13:11
Payment                                   Cash
cogs                                     594.6
gross margin percentage               4.761905
gross income                             29.73
Rating                                     4.2
Name: 145, dtype: object

# 6) What is the total ratings in branch A ?

In [118]:
df[df['Branch']=='A']['Rating'].sum()

2375.8999999999996

# 7) How many member customers and normal customers in branch A ?

In [119]:
df[df['Branch']=='A']['Customer type'].value_counts()

Normal    172
Member    166
Name: Customer type, dtype: int64

#  8)  What is the total money of invoices for each payment type in branch A ?

In [120]:
df[df['Branch']=='A'].groupby('Payment')['Total'].sum()

Payment
Cash           33781.2510
Credit card    32055.4605
Ewallet        38993.2410
Name: Total, dtype: float64

# 9) what is the best selling product lines in branch B ?

In [121]:
df[df['Branch']=='B'].groupby('Product line')['Quantity'].sum()

Product line
Electronic accessories    316
Fashion accessories       297
Food and beverages        270
Health and beauty         320
Home and lifestyle        275
Sports and travel         322
Name: Quantity, dtype: int64

# 10) How many invoices in branch B ?

In [122]:
df[df['Branch'] == 'B']['Invoice ID'].count()

330

# 11) what is the total sales of branch B ?

In [123]:
df[df['Branch']=='A']['Total'].sum()

104829.9525

# 12) The highest bill during three months for Branch B?

In [124]:
branch_A_data = df[df['Branch'] == 'B']
product_sales = branch_A_data.groupby('Product line')['Quantity'].sum()
product_sales = product_sales.sort_values()
least_selling_product = product_sales.index[0]
least_selling_product_data = branch_A_data[branch_A_data['Product line'] == least_selling_product]
least_selling_product_data = least_selling_product_data.sort_values(by='Unit price', ascending=False)
high_price_product = least_selling_product_data.iloc[0]
high_price_product

Invoice ID                        868-52-7573
Branch                                      B
City                                 Mandalay
Customer type                          Normal
Gender                                 Female
Product line               Food and beverages
Unit price                              99.69
Quantity                                    5
Tax 5%                                24.9225
Total                                523.3725
Date                                1/14/2019
Time                                    12:09
Payment                                  Cash
cogs                                   498.45
gross margin percentage              4.761905
gross income                          24.9225
Rating                                    9.9
Name: 562, dtype: object

# 13) What is the total ratings in branch B ?

In [125]:
df[df['Branch']=='B']['Rating'].sum()

2254.3

# 14) How many member customers and normal customers in branch B ?

In [126]:
df[df['Branch']=='B']['Customer type'].value_counts()

Member    165
Normal    165
Name: Customer type, dtype: int64

# 15) What is the total money of invoices for each payment type in branch B ?

In [127]:
df[df['Branch']=='B'].groupby('Payment')['Total'].sum()

Payment
Cash           35339.4615
Credit card    36322.4715
Ewallet        32490.8640
Name: Total, dtype: float64

# 16) what is the best selling product lines in branch C ?

In [128]:
df[df['Branch']=='C'].groupby('Product line')['Quantity'].sum()

Product line
Electronic accessories    333
Fashion accessories       322
Food and beverages        359
Health and beauty         277
Home and lifestyle        225
Sports and travel         255
Name: Quantity, dtype: int64

# 17) How many invoices in branch C ?

In [129]:
df[df['Branch'] == 'C']['Invoice ID'].count()

322

# 18) what is the total sales of branch C ?

In [130]:
df[df['Branch']=='C']['Total'].sum()

104441.4315

# 19) The highest bill during three months for Branch C?

In [131]:
branch_A_data = df[df['Branch'] == 'C']
product_sales = branch_A_data.groupby('Product line')['Quantity'].sum()
product_sales = product_sales.sort_values()
least_selling_product = product_sales.index[0]
least_selling_product_data = branch_A_data[branch_A_data['Product line'] == least_selling_product]
least_selling_product_data = least_selling_product_data.sort_values(by='Unit price', ascending=False)
high_price_product = least_selling_product_data.iloc[0]
high_price_product

Invoice ID                        725-96-3778
Branch                                      C
City                                Naypyitaw
Customer type                          Member
Gender                                 Female
Product line               Home and lifestyle
Unit price                              89.25
Quantity                                    8
Tax 5%                                   35.7
Total                                   749.7
Date                                1/20/2019
Time                                    10:13
Payment                                  Cash
cogs                                    714.0
gross margin percentage              4.761905
gross income                             35.7
Rating                                    4.7
Name: 763, dtype: object

# 20) What is the total ratings in branch C ?

In [132]:
df[df['Branch']=='C']['Rating'].sum()

2282.1000000000004

# 21) How many member customers and normal customers in branch C ?

In [133]:
df[df['Branch']=='C']['Customer type'].value_counts()

Member    166
Normal    156
Name: Customer type, dtype: int64

# 22) What is the total money of invoices for each payment type in branch C ?

In [134]:
df[df['Branch']=='C'].groupby('Payment')['Total'].sum()

Payment
Cash           41080.1475
Credit card    28264.1100
Ewallet        35097.1740
Name: Total, dtype: float64

#  23) What is the net profit of branch A ?

In [135]:
df[df['Branch']=='A']['cogs'].sum()

99838.04999999999

# 24) What is the net profit of branch B ?

In [136]:
df[df['Branch']=='B']['cogs'].sum()

99193.13999999998

# 25) What is the net profit of branch C ?

In [137]:
df[df['Branch']=='C']['cogs'].sum()

99468.03