In [9]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Reading Data

In [10]:
df = pd.read_csv('clean_supermarket.csv')

# What is correaltion between columns ?

In [11]:
df.corr()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Unit price,1.000000,-0.010571,0.623590,0.623590,0.623590,NaN,0.623590,-0.003610
Quantity,-0.010571,1.000000,0.699739,0.699739,0.699739,NaN,0.699739,-0.008005
Tax 5%,0.623590,0.699739,1.000000,1.000000,1.000000,NaN,1.000000,-0.026031
Total,0.623590,0.699739,1.000000,1.000000,1.000000,NaN,1.000000,-0.026031
cogs,0.623590,0.699739,1.000000,1.000000,1.000000,NaN,1.000000,-0.026031
gross margin percentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gross income,0.623590,0.699739,1.000000,1.000000,1.000000,NaN,1.000000,-0.026031
Rating,-0.003610,-0.008005,-0.026031,-0.026031,-0.026031,NaN,-0.026031,1.000000

# Linear Regression

In [12]:
# Split the dataset into training and testing sets
train_data, test_data = train_test_split(df, test_size=0.1, random_state=42)

# Define the input matrix X and the output vector y for the training set
X_train = train_data[['Quantity','Unit price']]
y_train = train_data['Total']

# Define the input matrix X and the output vector y for the testing set
X_test = test_data[['Quantity','Unit price']]
y_test = test_data['Total']

# Create a linear regression model and fit the training data
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

accuracy = model.score(X_train,y_train) 

print("Accuracy:",accuracy*100,"%")

Accuracy: 89.03103412652881 %